.menu {
	color: white;
	background-color: #AA6F73;	
}

.react, .api {
	height: 100%;
	width: 100%;
}

.others {
	margin-bottom: 20px;
}

.contact {
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.submit {
	width: 5rem;
	height: 2rem;
	font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;

}